<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>BoolZapp</title>
</head>
<body>

    <div id="background_main">
        <!-- green background piece -->
        <div class="background_top"></div>
        <!-- app container -->
        <div id="container_main">
            <!-- left side -->
            <nav id="nav_box">
                <section id="nav_user_profile">
                    <div class="user_info">
                        <img :src="userData.avatar" alt="userData.name">
                        <div class="user_name">{{ userData.name }}</div>
                    </div>
                    <!-- commands section -->
                    <div class="user_commands">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </section>
                <!-- bell notification -->
                <section id="nav_notifications">
                    <div class="user_info">
                        <div id="nav_bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="user_name">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </section>
                <!-- contact search bar -->
                <section id="nav_search">
                    <div class="search">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="text" v-model="searchUserInput" placeholder="Cerca o inizia una nuova chat">
                </section>
                <!-- contact list -->
                <section id="nav_contacts_list">
                    <!-- contact tab -->
                    <div v-if="contact.name.toLowerCase().includes(searchUserInput.toLowerCase()) " v-for="contact , i in contacts" class="nav_contact" @click="selectActive(i)" :class="i === activeChat ? 'active' : '' " :key="i">
                        <div class="user_info">
                            <img :src="contact.avatar" :alt="contact.name">
                            <div>
                                <div class="user_name">{{ contact.name }}</div>
                                <div class="last_message_text">{{ contact.messages[contact.messages.length - 1].text.slice(0,42) }}..</div>
                            </div>
                        </div>
                        <div class="last_message_date">
                            {{ contact.messages[contact.messages.length - 1].date }}
                        </div>
                    </div>
                </section>
            </nav>
            <!-- right side -->
            <main id="chat_box">
                <!-- chat section header -->
                <section id="chat_box_contact">
                    <div class="user_info" v-for="contact,i in contacts" v-if="activeChat === i">
                        <img :src="contact.avatar" :alt="contact.name">
                        <div>
                            <div class="user_name">{{ contact.name }}</div>
                            <div v-if="userWriting === 0" class="user_last_seen">Ultimo accesso: {{ contact.messages[contact.messages.length - 1].date }}</div>
                            <div v-else class="user_last_seen">Sta scrivendo...</div>
                        </div>
                    </div>
                    <!-- commands section -->
                    <div class="user_commands">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </section>
                <!-- chat section messages -->
                <section id="chat_box_messages" v-for="contact,i in contacts" v-if="activeChat === i" :key="i">
                    <!-- chat message -->
                    <div v-for="message, i in contact.messages" class="chat_message" :class="message.status === 'received' ? 'received' : 'sent'" :msgkey="i" @click="openMenu(i)">
                        <div class="message_text">
                            {{ message.text }}
                        </div>
                        <div class="chat_message_data">
                            {{ message.date }}
                            <div class="chat_check">
                                &checkmark;
                            </div>
                        </div>
                        <div v-if="contacts[activeChat].messages[i].infoIsOpen === 1" class="chat_message_menu">
                            <div class="message_menu_info">Info messaggio</div>
                            <div @click="deleteMessage(i)" class="message_menu_delete">Cancella messaggio</div>
                        </div>
                    </div>
                </section>
                <!-- user input chat message -->
                <section id="new_message">
                    <i class="far fa-smile"></i>
                    <input type="text" v-model="newInputMsg" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage(activeChat)">
                    <i class="fas fa-microphone"></i>
                </section>
            </main>
        </div>
    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>