/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background/container rules */
#background_main {
    height: 100vh;
    background-color: rgb(220,219,210);
    position: relative;
}

#background_main .background_top {
    width: 100vw;
    height: 150px;
    position: absolute;
    top: 0;
    background-color: rgb(2,149,136);
}

#container_main {
    width: 96%;
    height: 92%;
    background-color: rgb(234,234,234);
    position: absolute;
    top: 4%;
    left: 2%;
    display: flex;
    overflow: hidden;
}

/* left navigation rules */
#nav_box {
    width: 30%;
    min-width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px rgb(214, 214, 214) solid;
}

#nav_notifications {
    background-color: rgb(141,218,252);
    height: 80px;
    display: flex;
}

#nav_bell {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    color: rgb(141,218,252);
    margin: 0 15px;
}

#nav_bell i {
    font-size: 1.4em;
    line-height: 60px;
}

#nav_search {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 10px;
}

#nav_search .search {
    width: 10%;
    text-align: center;
    color: gray;
}

#nav_search input {
    border: 0;
    outline: none;
    width: 90%;
    background-color: inherit;
}

#nav_contacts_list {
    width: 100%;
    height: calc(100% - 200px);
    overflow: auto;
}

.nav_contact {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav_contact:hover {
    background-color: rgb(225,225,225);
}

.nav_contact .user_name {
    font-weight: 700;
}

.nav_contact.active {
    background-color: rgb(200,200,200);
}

.last_message_text {
    height: 35px;
    overflow: hidden;
}

.last_message_text, .last_message_date {
    color: gray;
}
.last_message_date {
    margin-top: 6px;
    margin-right: 6px;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    right: 0;
}

/* chat box rules */
#chat_box {
    width: 70%;
    min-width: 500px;
    height: 100%;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    display: flex;
    flex-wrap: wrap;
}

#chat_box_contact .user_name {
    font-weight: 500;
}

.user_last_seen {
    color: gray;
    font-weight: 500;
}

#chat_box_messages {
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 140px);
}

#chat_box_messages .chat_message {
    max-width: 80%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    min-width: 300px;
}

.chat_message.sent {
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
}

.chat_message.received {
    background-color: rgb(255, 255, 255);
    align-self: flex-start;
}

.chat_message_data {
    text-align: right;
    color: gray;
}

#new_message {
    background-color: rgb(243, 238, 233);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

#new_message i {
    font-size: 1.6em;
    color: gray;
    margin: 0 30px;
}

#new_message input {
    width: 90%;
    height: 50px;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
}

/* header left box/chat box */
#nav_user_profile, #chat_box_contact {
    width: 100%;
    min-width: 398px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234,234,234);
}

.user_info {
    height: 100%;
    display: flex;
    align-items: center;
}

.user_info img {
    width: 60px;
    border-radius: 50%;
    margin: 0 15px;
}

#nav_user_profile .user_name {
    font-weight: 700;
}

.user_commands {
    width: 100px;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}

.user_commands i {
    display: inline-block;
    font-size: 1.5em;
    color: rgb(177,177,177);
}